@charset "UTF-8";
.barra-titulo {
  font-family: 'Emblem', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-size: 12px;
  color: #f0ffff;
  list-style-type: none;
  text-align: center; }

.imagen-fondo {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.fondo-inicio-p {
  display: block;
  width: 300px; }

.fondo-inicio {
  display: block;
  width: 300px; }

/* barra social media */
.social {
  position: fixed;
  /* posición en pantalla fija */
  right: 0;
  /* Establecemos la barra a la derecha */
  top: 350px;
  /* Bajo la barra de arriba a abajo */
  z-index: 2000;
  /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */ }
  .social ul {
    list-style: none; }
    .social ul .icon-facebook {
      background-color: #3b5998; }
    .social ul .icon-instagram {
      background-color: #e85e7a; }
    .social ul .icon-whatsapp {
      background-color: #6baf72; }
    .social ul .icon-mail {
      background-color: #91cce3; }
    .social ul li a {
      display: inline-block;
      color: #fff;
      background: #000;
      padding: 10px 15px;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      /* Establecemos una transición a todas las propiedades */ }
      .social ul li a img {
        width: 20px; }

@media screen and (min-width: 768px) {
  .barra-titulo {
    font-size: 16px; }
  .social {
    top: 250px;
    /* Bajamos la barra 250px de arriba a abajo */
    left: 0; }
  .fondo-inicio-p {
    display: none; }
  .fondo-inicio {
    display: block;
    width: 760px; }
  .social ul li a img {
    width: 50px; }
  .social ul li a:hover {
    background: #717070;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */ } }

@media screen and (min-width: 1024px) {
  .barra-titulo {
    font-size: 18px; }
  .fondo-inicio {
    width: 1000px; }
  .social ul li a img {
    width: 60px; } }

.datos_ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: black; }
  .datos_ubicacion iframe {
    padding: 5px;
    width: 220px;
    height: 300px; }

@media screen and (min-width: 768px) {
  .datos_ubicacion {
    height: 400px; }
  .datos_ubicacion iframe {
    padding: 15px;
    width: 760px;
    height: 355px; }
  .titulo {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #f14e4e;
    background-color: #080808; }
  .titulo {
    font-size: 25px; } }

@media screen and (min-width: 1024px) {
  .datos_ubicacion {
    height: 700px; }
  .datos_ubicacion iframe {
    padding: 15px;
    width: 1000px;
    height: 444px; }
  .titulo {
    font-size: 30px; } }
