@charset "UTF-8";
@font-face {
  font-family: 'Emblem';
  src: url("../fonts/emblem_1-webfont.woff2") format("woff2"), url("../fonts/emblem_1-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'bnkgo';
  src: url("../fonts/bnkgothm_1-webfont.woff2") format("woff2"), url("../fonts/bnkgothm_1-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'EmblemI';
  src: url("../fonts/emblemi_1-webfont.woff2") format("woff2"), url("../fonts/emblemi_1-webfont.woff") format("woff");
  font-style: italic;
  font-weight: normal; }

.form-label {
  font-family: 'bnkgo';
  color: #989696;
  font-size: large; }

.button {
  font-family: 'bnkgo';
  font-size: large;
  color: red;
  background-color: #d2a45a; }

.btn-green-moon {
  margin: 20px;
  font-family: 'bnkgo';
  align-items: center;
  background: #56ab2f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee; }

.barra-titulo {
  font-family: 'bnkgo';
  font-size: 12px;
  color: #f0ffff;
  list-style-type: none;
  text-align: center; }

.fondo-inicio-p {
  justify-content: center;
  display: block;
  width: 300px; }

.fondo-inicio {
  align-items: center;
  display: block;
  width: 300px; }

/* barra social media */
.social {
  position: fixed;
  /* posición en pantalla fija */
  right: 0;
  /* Establecemos la barra a la derecha */
  top: 350px;
  /* Bajo la barra de arriba a abajo */
  z-index: 2000;
  /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */ }
  .social ul {
    list-style: none; }
    .social ul .icon-facebook {
      background-color: #3b5998; }
    .social ul .icon-instagram {
      background-color: #e85e7a; }
    .social ul .icon-whatsapp {
      background-color: #6baf72; }
    .social ul .icon-mail {
      background-color: #91cce3; }
    .social ul li a {
      display: inline-block;
      color: #fff;
      background: #000;
      padding: 10px 15px;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      /* Establecemos una transición a todas las propiedades */ }
      .social ul li a img {
        width: 20px; }

@media screen and (min-width: 768px) {
  .barra-titulo {
    font-size: 16px; }
  .social {
    top: 350px;
    /* Bajamos la barra 250px de arriba a abajo */
    left: 0; }
  .fondo-inicio-p {
    display: none; }
  .fondo-inicio {
    display: block;
    width: 760px; }
  .social ul li a img {
    width: 50px; }
  .social ul li a:hover {
    background: #717070;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */ } }

@media screen and (min-width: 1024px) {
  .barra-titulo {
    font-size: 18px; }
  .fondo-inicio {
    width: 1000px; }
  .social {
    top: 400px;
    /* Bajamos la barra 250px de arriba a abajo */ }
    .social .ul li a img {
      width: 60px; } }

.datos_ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: black; }
  .datos_ubicacion iframe {
    padding: 5px;
    width: 220px;
    height: 300px; }

@media screen and (min-width: 768px) {
  .datos_ubicacion {
    height: 400px; }
  .datos_ubicacion iframe {
    padding: 15px;
    width: 760px;
    height: 355px; }
  .titulo {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #f14e4e;
    background-color: #080808; }
  .titulo {
    font-size: 25px; } }

@media screen and (min-width: 1024px) {
  .datos_ubicacion {
    height: 700px; }
  .datos_ubicacion iframe {
    padding: 15px;
    width: 1000px;
    height: 444px; }
  .titulo {
    font-size: 30px; } }

.londero {
  background-color: black;
  display: inline-block;
  font-size: 2.5em;
  color: #e4dbab;
  font-family: 'EmblemI';
  text-shadow: 0.03em 0.03em 0 #e59143;
  text-align: center; }

.repuestos {
  background-color: black;
  display: inline-block;
  font-size: 1em;
  color: #dd5151;
  font-family: 'Emblem';
  text-shadow: 0.03em 0.03em 0 #eba94e;
  text-align: center; }

@media screen and (min-width: 768px) {
  .londero {
    font-size: 3em; }
  .repuestos {
    font-size: 1.5em;
    transform: translate(80px); } }

@media screen and (min-width: 1024px) {
  .londero {
    font-size: 5.5em; }
  .repuestos {
    font-size: 2.5em;
    transform: translate(120px); } }

.lista_especialistas {
  height: 200px;
  background-color: black; }

.especialidades {
  background-color: black;
  color: red;
  font-family: Emblem;
  font-size: 12px;
  list-style-type: none;
  text-align: center; }

.img-productos-amor, .img-productos-dir {
  display: none; }

.img-productos-bomba {
  width: 100px; }

.imagenes_marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.marca {
  width: 4em;
  height: 3em; }

@media screen and (min-width: 768px) {
  .img-productos-amor, .img-productos-bomba, .img-productos-dir {
    display: block;
    width: 250px;
    height: 150px; }
  .especialidades {
    font-size: 18px; }
  .lista_especialistas {
    height: 350px; }
  .marca {
    width: 10em;
    height: 7em; }
  .frase-footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red; } }

@media screen and (min-width: 1000px) {
  .img-productos-amor, .img-productos-bomba, .img-productos-dir {
    width: 300px;
    height: 250px; }
  .especialidades {
    font-size: 22px; }
  .lista_especialistas {
    height: 400px; }
  .marca {
    width: 12em;
    height: 9em; } }

.bg-7 h2 {
  position: relative; }

.bg-7 h2::after {
  content: "ENVIOS A TODO EL PAIS";
  font-size: 1em;
  letter-spacing: 0px;
  background-size: 150%;
  background: linear-gradient(135deg, #fcdf8a, #f38381);
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-width: 0;
  -webkit-text-stroke-width: 0;
  position: absolute;
  text-align: center;
  left: 8px;
  right: 0;
  top: 6px;
  z-index: -1;
  -webkit-animation: pulse-delay 3.5s linear 0.5s infinite alternate;
  animation: pulse-delay 3.5s linear 0.5s infinite alternate; }

@keyframes pulse-delay {
  0% {
    background: -webkit-linear-gradient(315deg, #fcdf8a, #f38381);
    background: -o-linear-gradient(315deg, #fcdf8a 0, #f38381 100%);
    background: linear-gradient(135deg, #fcdf8a, #f38381);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  4.16667% {
    background: -webkit-linear-gradient(315deg, #c3ec52, #0ba29d);
    background: -o-linear-gradient(315deg, #c3ec52 0, #0ba29d 100%);
    background: linear-gradient(135deg, #c3ec52, #0ba29d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  8.33333% {
    background: -webkit-linear-gradient(315deg, #13f1fc, #0470dc);
    background: -o-linear-gradient(315deg, #13f1fc 0, #0470dc 100%);
    background: linear-gradient(135deg, #13f1fc, #0470dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  12.5% {
    background: -webkit-linear-gradient(315deg, #ce9ffc, #7367f0);
    background: -o-linear-gradient(315deg, #ce9ffc 0, #7367f0 100%);
    background: linear-gradient(135deg, #ce9ffc, #7367f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  16.6667% {
    background: -webkit-linear-gradient(315deg, #f36265, #961276);
    background: -o-linear-gradient(315deg, #f36265 0, #961276 100%);
    background: linear-gradient(135deg, #f36265, #961276);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  20.8333% {
    background: -webkit-linear-gradient(315deg, #184e68, #57ca85);
    background: -o-linear-gradient(315deg, #184e68 0, #57ca85 100%);
    background: linear-gradient(135deg, #184e68, #57ca85);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  25% {
    background: -webkit-linear-gradient(315deg, #fad961, #f76b1c);
    background: -o-linear-gradient(315deg, #fad961 0, #f76b1c 100%);
    background: linear-gradient(135deg, #fad961, #f76b1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  29.1667% {
    background: -webkit-linear-gradient(315deg, #f2d50f, #da0641);
    background: -o-linear-gradient(315deg, #f2d50f 0, #da0641 100%);
    background: linear-gradient(135deg, #f2d50f, #da0641);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  33.3333% {
    background: -webkit-linear-gradient(315deg, #f54ea2, #ff7676);
    background: -o-linear-gradient(315deg, #f54ea2 0, #ff7676 100%);
    background: linear-gradient(135deg, #f54ea2, #ff7676);
    -webkit-text-fill-color: transparent; }
  37.5% {
    background: -webkit-linear-gradient(315deg, #0ff0b3, #036ed9);
    background: -o-linear-gradient(315deg, #0ff0b3 0, #036ed9 100%);
    background: linear-gradient(135deg, #0ff0b3, #036ed9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  41.6667% {
    background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
    background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
    background: linear-gradient(135deg, #17ead9, #6078ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  100% {
    background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
    background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
    background: linear-gradient(135deg, #17ead9, #6078ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em; } }

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5em; } }

body {
  background-color: black; }
