
.londero{ 
    background-color: black;
    display: inline-block;
    font-size: 2.5em;
    color: rgb(228, 219, 171);
    font-family: 'EmblemI';
    text-shadow: .03em .03em 0 rgb(229, 145, 67);
    text-align: center;
    
}
.repuestos{
  background-color: black;
    display: inline-block;
    font-size: 1em;
    color: rgb(221, 81, 81);
    font-family: 'Emblem';
    text-shadow: .03em .03em 0 rgb(235, 169, 78);
    text-align: center;
    // transform: translate(20px);
}
@media screen and (min-width: 768px) {
  .londero {
    font-size: 3em; 
    }
  .repuestos{
    font-size: 1.5em;
    transform: translate(80px);
  }  
}
@media screen and (min-width: 1024px) {
    .londero {
      font-size: 5.5em; 
      }
    .repuestos{
      font-size: 2.5em;
      transform: translate(120px);
    }  
  }
