<!-- {% extends 'padre.html' %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block Cambia %}
       
        <div>

            <h1 class="titulo">CONTACTO</h1>


        </div>
        <div class="datos_contacto">
            <form action="">
                <fieldset>
                    <legend>Información de contacto</legend>
                    <label for="name">Nombre:</label>
                    <input type="text" name="name">
                    <label for="last-name">Apellido:</label>
                    <input type="text" name="last-name">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email">
                    <br>
                    <br>
                    Consulta:<br>
                    <textarea name="coonsulta" rows="5" cols="60"></textarea> <br>
                    
                </fieldset>    
            </form>

        </div>
        
        <div>
            <h2>
                <ul>
                    <li><a href="../pages/productos.html">PRODUCTOS</a></li>
                    <li><a href="../pages/marcas.html">MARCAS</a></li>
                    <li><a href="../index.html">QUIENES SOMOS</a></li>
                    <li><a href="../pages/contacto.html">CONTACTO</a></li>
                    <li><a href="../pages/ubicacion.html">DONDE ENCONTRARNOS</a></li>
                </ul>
            </h2>

        </div>
    {% endboock %}    
</body>
</html>